.infoClient{
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    margin-top: 2%;
    width: 49%;
    text-align: left;
    padding-left: 2%;
    font-family: Arial;
    color: black;
    font-size: 120%;

}


.petitLabel{
    display: inline-block;
    width: 60%;

}

.labelInfoClient{
    display: inline-block;
    width: 35%;
    text-align: right;
    margin-right: 3%;
}

.leClient{
    display: inline-block;
    width: 82%;
}

.edit {
    vertical-align: top; 
    margin-top: 2%;
}


.demandeDevis{
    display: inline-block;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    margin-top: 1%;
}


.titreDevis{
    text-align: left;
    display: block;
    width: 100%;
    color: black;
    font-family: Arial;
    margin-top: 3%;

}




.labelDsDevis{
    display: inline-block;
    width: 15%;
}
.labelDsAchat{
    display: inline-block;
    width: 37.5%;
}

.titreInfoDevis{
    width: 97%;
  
}

.slideBar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #3e64ff;
}

.slideBar::-webkit-scrollbar{
    background-color:  #F5F5F5;
    width: 8px;

}


@media (max-width: 768px){
    .infoClient{
        width: 100%;
    }

    .labelDsDevis{

        width: 35%;
    }

    .noResponsive{
        display: none;
    }

    .titreInfoDevis{
        width: 94%;
    }
}