.leMotDePasse{
    width: 50%;

 display: inline-block;
 margin-top: 15%;


 border-radius: 15px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 
}


.labelMdp{
    display: inline-block;
    width: 33%;
    text-align: right;
    margin-right: 5%;
    font-family: Arial;


}


.inputMdp{
    display: inline-block;
    width: 40%;
    margin-bottom: 1%;
    margin-top: 3%;
    
        

}


.titreAjout{
    width: 100%;
}

.plus{
   
    background-color: red;
}

.listeAjout{
    
    width: 40%;
    margin-bottom: 1%;
    margin-top: 3%;
    
     
}

@media (max-width: 768px) {
    .leMotDePasse{
        width: 95%;
    } 
    
    .labelMdp{
        width: 45%;
    }
    
    .inputMdp{
        width:40%;
    }
    
}
