.cadreView{
    display: inline-block;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
    border-radius: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 400px;
    margin-top: 1%;


}

.cadreViewSansHeight{
    display: inline-block;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
    border-radius: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 400px;
    margin-top: 1%;

}


.element{
    width: 100%;


}

.labelElement{
    display: inline-block;
    width: 85%;
    font-family: Arial;
    font-size: 120%;
    color: black;

}

.labelPiece{
    display: inline-block;
    width: 22%;
    font-family: Arial;
    font-size: 120%;
    color: black;
}

.labelPieceRepe{
    display: inline-block;
    width: 100%;
    font-family: Arial;
    font-size: 120%;
    color: black;
}

.titrePiece{
    display: inline-block;
    width: 21%;
    font-family: Arial;
    font-size: 120%;
    color: black;
    text-align: left;

}

.iconElement{
    display: inline-block;
    margin-left: 1%;

}

.titreView{
    width: 100%;
}

.lableTitreView{
    display: inline-block;
    width: 85%;
    font-family: Arial;
    color: black;
    text-align: left;
    font-size: 200%;
    margin-top: 1%;


}


.totalPiece{
    display: inline-block;
    width: 20%;
    margin-left: 80%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
    font-family: Arial;
    font-size: 1.5em;
    color: black;
    border-radius: 5px;
}

.cadreView::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #3e64ff;
}

.cadreView::-webkit-scrollbar{
    background-color:  #F5F5F5;
    width: 8px;

}
.cadreViewSansHeight::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #3e64ff;
}

.cadreViewSansHeight::-webkit-scrollbar{
    background-color:  #F5F5F5;
    width: 8px;

}

.labelRecherche{
    display: inline-block;
    width: 23%;
    text-align: right;
    padding-right: 1%;
    /*background-color: red;*/

}
.cadreAccessoire{
    display: inline-block;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
    border-radius: 5px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.unAccessoire{
    display: inline-block;
    width: 98%;
    border-radius: 5px;

}

.blockImg{
    display: inline-block;
    width: 25%;
    vertical-align: 0;
    cursor: pointer;
}

.imageAccessoire{
    display: inline-block;
    width: 100%;
    border-radius: 5px;
}

.infoAccessoire{
    display: inline-block;
    width: 65%;
    margin-left: 1%;
    vertical-align: top;   

}

.prixAccesoire {
    display: inline-block;
    width: 9%;
    vertical-align: top;   

}
.labelInfoAccessoire{
    display: inline-block;
    width: 95%; 
    text-align: left;
    font-family: Arial;
    font-size: 1.2em;
    margin-top: 0.5%;

}
.titreInfoAccessoire{
    display: inline-block;
    width: 95%; 
    text-align: left;
    font-family: fantasy;
    font-size: 1.6em;
    margin-top: 0.5%;
    color: #E84D0E;
}



.BtnAccessoire{
    display: inline-block;
    width: 100%; 
    text-align: left;
    vertical-align: top;   
}
.lebtnaccesoire{
    display:inline-block;
    width:40%;
    margin-left: 2%;
}


.selectRecheche{
    display: inline-block;
    width: 20%;
    vertical-align: 0;
}


@media (max-width: 768px){
    .labelRecherche{
        width: 40%;
        font-size: 100%;
    }

    .selectRecheche{
        width: 40%;
    }


    .noResponsive{
        display: none;
    }


    .labelPiece{
        width: 35%;
        font-size: 100%;
    }


    .titrePiece{
        width: 35%;
        font-size: 100%;

    }

    .totalPiece{
        width: 50%;
        margin-left: 50%;
    }

}