.createDevis{
    display: none;
    width: 100%;
    text-align: center;
    margin-top: 2%;
}

.titreReparation{
    display: inline-block;
    width: 20%;
    margin-right: 3%;
}

.inputReparation{
    display: inline-block;
    width: 18%;
}

.labelReparation{
    display: inline-block;
    text-align: right;
    width: 50%;
    margin-right: 3%;

}

.zoneTextPanne {
    display: inline-block;
    width:45%;
    vertical-align: top;

}


.miniLabel{
    display: inline-block;
    width: 90%;
    font-size: 80%;
}

.rapport{
    display: none;
    width: 49%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 2%;
    margin-right: 0.5%;
}
.rapporttech{
    display: inline-block;
    width: 49%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 2%;
    margin-left: 0.5%;
}

.checkRapport{
    display: inline-block;
    width: 22px;
    height: 22px;
    vertical-align: middle;

}

.checkRapport:checked:after{
    display: inline-block;
    content: "✔";
    visibility: visible;
    width: 22px;
    height: 22px;
    text-align: center;
    border-radius: 2px;
    background: #00EE00;
    color: #fff;
    vertical-align: 0;


}



.checkTest{
    display: inline-block;
    width: 22px;
    height: 22px;
    vertical-align: middle;
    border: none;


}


.checkTest:checked:after{
    display: inline-block;
    content: "✘";
    visibility: visible;
    width: 22px;
    height: 22px;
    text-align: center;
    border-radius: 2px;
    background: red;
    color: #fff;
    vertical-align: 0;

}


.lesDevis{
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 2%;
    border-radius: 5px;
    vertical-align: 0;
}

#afficheRapport{

    margin-left: 0.5%;
}

#afficheRecondition{
    margin-left: 0.5%;

}

#afficheSAV{
    margin-left: 0.5%;
}

.labelCheck{
    font-size: 1em;
    width: 38%;
    display: inline-block;
    text-align: right;
}
.labelCheckSpec{
    width: 90%;
    font-size: 1.2em;
    display: inline-block;
    text-align: left;
    border-bottom: 1px solid;
}

.titreRapport{
    display: inline-block;
    width: 49%;
    text-align: center;
    font-family: Arial;
    font-size: 160%;
}


.lesav{
    display: none;
    width: 100%;
}

.recondition{
    display: none;
    width: 100%;
}


.listeAjout{

    width: 15%;
    vertical-align: 0;

}



.plus{

    width: 3%;
    vertical-align: 0;
}


.infoDevis{
    display: inline-block;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    margin-top: 1%;

}


.labelinfoDevis{
    display: inline-block;
    width: 19%;
    color: black;
    text-align: right;
    margin-right: 1%;
}


.donneInfoDevis{
    display: inline-block;
    width: 9%;
    color: black;
}

.donneIntervention{
    display: inline-block;
    width: 27%;
    color: black;
    font-family: Arial;
    font-size: 140%;
    text-align: left;
    margin-top: 2%;
    margin-bottom: 1%;
}


.AffichePlus{
    display: none;
    width: 100%;
}

.inputQte{
    display: inline-block;
    width: 30%;
    vertical-align: middle;
    height: 30px;


}


.viewDevis{
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 95%;
    border-radius: 5px;

}

.barRechercheDevis{
    width: 100%;


}


.selectRecheche{
    display: inline-block;
    width: 24%;
    text-align: right;
}

.labelDsDevis{
    display: inline-block;
    width: 17%;
}

.leDevis{
    display: block;
    margin-top: 1%;
    margin-bottom: 1%;
/*       transition: all 1s;*/


}
.affichageDesDevis{
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: scroll;
 
}






.affichageDesDevis::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #007bff;
}

.affichageDesDevis::-webkit-scrollbar{
    background-color:  #F5F5F5;
    width: 8px;

}

@media (max-width: 768px) {

    .labelReparation{
        width: 55%;
        font-size: 110%;

    }

    .inputReparation{
        width: 39%;
    }

    .rapport{
        width: 95%;
    }
    .rapporttech{
        width: 95%;
    }


    .listeAjout{
        width: 30%;
    }

    .plus{
        width: 8%;
    }

    .noResponsive{
        display: none;
    }


    .labelinfoDevis{
        width: 50%;
    }
    .donneInfoDevis{
        width: 30%;
    }


    .selectRecheche{
        width: 95%;
        text-align: center;
    }
}

