.leMotDePasse{
    width: 50%;

 display: inline-block;
 margin-top: 15%;


 border-radius: 15px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 
}


.labelAjout{
    display: inline-block;
    width: 35%;
    text-align: right;
    margin-right: 5%;
    font-family: Arial;
    font-size: 150%;
     margin-bottom: 1%;
    margin-top: 3%;


}


.inputMdp{
    display: inline-block;
    width: 40%;
    margin-bottom: 1%;
    margin-top: 3%;
    vertical-align: 0;
    
        

}


.titreAjout{
    width: 100%;
    margin-top: 2%;
}

.plus{
   
   width: 5%;
   vertical-align: 0;
}

.listeAjout{
    
    width: 35%;
    margin-bottom: 1%;
    margin-top: 3%;
    vertical-align: 0;
    
     
}

.recherchePiece{
    display: none;
    
}

#marge{
    display: none;
}



@media (max-width: 768px) {
    .leMotDePasse{
        width: 95%;
    } 
    
    .labelMdp{
        width: 45%;
    }
    
    .inputMdp{
        width:40%;
    }
    
}
